<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="/public/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/public/css/dashboard.css">
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
</head>
<body>


  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Navbar</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown link
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <section id="progress-section">
    <div class="container">
      <div class="row">
        <!-- Task area -->
        <div class="col">
          <!-- process header -->
          <div class="process-header">
            <span><i class="ion-icon ion-ios-list-outline"></i>Task</span>
          </div>
          <!-- process items -->
          <div class="card">
            <div class="card-block">
              <div class="process-card-title">
                Implement Kiss metrics
              </div>
              <p class="process-card-description">the quick brown fox jumps over the lazy dog</p>
            </div>
            <div class="card-footer">
              <div class="float-left">
                <img class="process-footer-person" src="/public/img/person.jpg" alt="">
                <img class="process-footer-person" src="/public/img/person.jpg" alt="">
                <img class="process-footer-person" src="/public/img/person.jpg" alt="">
                <img class="process-footer-person" src="/public/img/person.jpg" alt="">
                <img class="process-footer-person" src="/public/img/person.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-block">
              <div class="process-card-title">
                Implement Kiss metrics
              </div>
              <p class="process-card-description">the quick brown fox jumps over the lazy dog</p>
            </div>
            <div class="card-footer">
              <div class="float-left">
                <img class="process-footer-person" src="/public/img/person.jpg" alt="">
                <img class="process-footer-person" src="/public/img/person.jpg" alt="">
                <img class="process-footer-person" src="/public/img/person.jpg" alt="">
                <img class="process-footer-person" src="/public/img/person.jpg" alt="">
                <img class="process-footer-person" src="/public/img/person.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-block">
              <div class="process-card-title">
                Implement Kiss metrics
              </div>
              <p class="process-card-description">the quick brown fox jumps over the lazy dog</p>
            </div>
            <div class="card-footer">
              <div class="float-left">
                <img class="process-footer-person" src="/public/img/person.jpg" alt="">
                <img class="process-footer-person" src="/public/img/person.jpg" alt="">
                <img class="process-footer-person" src="/public/img/person.jpg" alt="">
                <img class="process-footer-person" src="/public/img/person.jpg" alt="">
                <img class="process-footer-person" src="/public/img/person.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-block">
              <div class="process-card-title">
                Implement Kiss metrics
              </div>
              <p class="process-card-description">the quick brown fox jumps over the lazy dog</p>
            </div>
            <div class="card-footer">
              <div class="float-left">
                <img class="process-footer-person" src="/public/img/person.jpg" alt="">
                <img class="process-footer-person" src="/public/img/person.jpg" alt="">
                <img class="process-footer-person" src="/public/img/person.jpg" alt="">
                <img class="process-footer-person" src="/public/img/person.jpg" alt="">
                <img class="process-footer-person" src="/public/img/person.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
        <!-- Implementation area -->
        <div class="col">
          <!-- process header -->
          <div class="process-header">
            <span><i class="ion-icon ion-ios-time-outline"></i>Implementation</span>
          </div>
          <!-- process items -->
          <div class="card">
            <div class="card-block">
              <div class="process-card-title">
                Implement Kiss metrics
              </div>
              <p class="process-card-description">the quick brown fox jumps over the lazy dog</p>
            </div>
            <div class="card-footer">
              <div class="float-left">
                <img class="process-footer-person" src="/public/img/person.jpg" alt="">
                <img class="process-footer-person" src="/public/img/person.jpg" alt="">
                <img class="process-footer-person" src="/public/img/person.jpg" alt="">
                <img class="process-footer-person" src="/public/img/person.jpg" alt="">
                <img class="process-footer-person" src="/public/img/person.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
        <!-- Review area -->
        <div class="col">
          <!-- process header -->
          <div class="process-header">
            <span><i class="ion-icon ion-ios-checkmark-outline"></i>Review</span>
          </div>
          <!-- process items -->
          <div class="card">
            <div class="card-block">
              <div class="process-card-title">
                Implement Kiss metrics
              </div>
              <p class="process-card-description">the quick brown fox jumps over the lazy dog</p>
            </div>
            <div class="card-footer">
              <div class="float-left">
                <img class="process-footer-person" src="/public/img/person.jpg" alt="">
                <img class="process-footer-person" src="/public/img/person.jpg" alt="">
                <img class="process-footer-person" src="/public/img/person.jpg" alt="">
                <img class="process-footer-person" src="/public/img/person.jpg" alt="">
                <img class="process-footer-person" src="/public/img/person.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-block">
              <div class="process-card-title">
                Implement Kiss metrics
              </div>
              <p class="process-card-description">the quick brown fox jumps over the lazy dog</p>
            </div>
            <div class="card-footer">
              <div class="float-left">
                <img class="process-footer-person" src="/public/img/person.jpg" alt="">
                <img class="process-footer-person" src="/public/img/person.jpg" alt="">
                <img class="process-footer-person" src="/public/img/person.jpg" alt="">
                <img class="process-footer-person" src="/public/img/person.jpg" alt="">
                <img class="process-footer-person" src="/public/img/person.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
        <!-- Deploy area -->
        <div class="col">
          <!-- process header -->
          <div class="process-header">
            <span><i class="ion-icon ion-ios-box-outline"></i>Delivery</span>
          </div>
          <!-- process items -->
          <div class="card">
            <div class="card-block">
              <div class="process-card-title">
                Implement Kiss metrics
              </div>
              <p class="process-card-description">the quick brown fox jumps over the lazy dog</p>
            </div>
            <div class="card-footer">
              <div class="float-left">
                <img class="process-footer-person" src="/public/img/person.jpg" alt="">
                <img class="process-footer-person" src="/public/img/person.jpg" alt="">
                <img class="process-footer-person" src="/public/img/person.jpg" alt="">
                <img class="process-footer-person" src="/public/img/person.jpg" alt="">
                <img class="process-footer-person" src="/public/img/person.jpg" alt="">
                <img class="process-footer-person" src="/public/img/person.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="/public/js/jquery.min.js"></script>
  <script src="/public/js/tether.min.js"></script>
  <script src="/public/js/bootstrap.min.js"></script>
</body>
</html>
